@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700&display=swap");

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu';
	background-color: $backgroundPrimary;
}

*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-track {
	background: #ddd;
}
*::-webkit-scrollbar-thumb {
	background: #666;
}

#root {
	height: 100%;
}

*{
	user-select: none;
}



.bg-success {
    background-color: $success-color !important;
}
.bg-warning {
    background-color: $warning-color !important;
}
.bg-danger {
    background-color: $danger-color !important;
}
.bg-info {
    background-color: $info-color !important;
}



button {
	outline: none;
	background: $primary;
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding: 12px 20px;
	color: $textSecondary;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	text-transform: uppercase;
	cursor: pointer;
	transition: $transition;

	&:hover {
		background-color: lighten($primaryDark, 6%);
	}

	&:active {
		background-color: darken($primaryDark, 3%);
	}
}