@import '../app.scss';

.Events {
    background-color: $backgroundSecondary;
    max-width: 500px;
    width: 500px;
    text-align: center;
    height: 100%;

    .title {
        color: $textSecondary;
        padding-top: 100px;
        font-weight: 800;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 16px;
        display: block;
    }
}