// Colors
$primary: #e74c3c;
$primaryDark: #c0392b;
$secondary: #454545;
$tertiary: #BABABA;

$backgroundPrimary: #F4F4F4;
$backgroundSecondary: #222;
$backgroundTertiary: #CACACA;

$success-color: #23e123;
$warning-color: #e1ce23;
$danger-color: #e12323;


$textPrimary: #2A2A2A;
$textSecondary: #F6F6F6;
$textMuted: #9A9A9A;



$transition: all .2s ease-in-out;
$calendarBorder: 0.01em solid $backgroundTertiary;
$maxCalendarWidth: 10000px;