@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import '../../abstracts/functions';

$datepicker-translate: translateX(-50%);
.DateTimePicker {
    position: relative;
    
    .container {
        margin-top: 10px;
        background-color: $backgroundPrimary;
        position: absolute;
        top: 0;
        left: 50%;
        transform: $datepicker-translate;
        width: 290px;
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.46);
        animation: popDatepicker .25s normal forwards ease-in-out;

        .chooseMonth {
            @include flexbox;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
            @include align-content(stretch);
    
            background-color: $primaryDark;
            color: $textSecondary;
            padding: 5px 12px;
            
            .change {
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: all .12s ease-in-out;
                
                &:hover {
                    background-color: rgba($backgroundPrimary, .28);
                }
                &:active {
                    background-color: rgba($backgroundPrimary, .4);
                }
            }
    
            .name {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
            }
        }
    
        .calendar {

            .today{
                border-radius: 0;
            }
        }
    }
}

@keyframes popDatepicker{
    from{
        opacity: 0;
        transform: $datepicker-translate scale(0);
    }
    to{
        opacity: 1;
        transform: $datepicker-translate scale(1) ;
    }
}