@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import '../../abstracts/functions';

.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 100vh;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	transition: $transition;
	height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
	@include flexbox;
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);

	&.show {
        // animation: showBackground 0.25s normal forwards ease-in-out;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        .content {            
		    animation: showContent 0.35s normal forwards ease-in-out;
        }
    }
    
    &.hide {
        .content {            
		    animation: hideContent 0.25s normal forwards ease-in-out;
        }
	}

	.content {
        margin: 20px;
        max-width: 500px;
		padding: 30px;
		background-color: $backgroundPrimary;
		border-radius: 10px;
		opacity: 0;
        transform: translateY(-150px);
        overflow: auto;

		.header {
			color: $textPrimary;
			font-size: 25px;
			font-weight: 800;
		}
		.body {
			margin-bottom: 25px;
		}
		.footer {
		}
	}
}

@keyframes showBackground {
	to {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

@keyframes showContent {
    from {
		opacity: 0;
		transform: translateY(-150px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hideContent {
    from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateY(-150px);
	}
}

